#navBrand {
  color: rgb(30, 215, 96);
}

.tableCell__rank {
  padding: 10px;
  width: 105px;
}

.tableCell__country {
  padding: 10px;
  width: 215px;
}

.tableCell__date {
  padding: 10px;
  width: 220px;
}

.tableCell__songInfo {
  padding: 10px;
  width: 400px;
}

.inputTable {
  margin-left: 20px;
  margin-top: 20px;
}

.tableCell__rank__input {
  padding: 10px;
  width: 100px;
}

.tableCell__country__input {
  padding: 10px;
  width: 190px;
}

.country__input {
  width: 190px;
  height: 36px;
}

.tableCell__date__input {
  padding: 10px;
  width: 190px;
}

.tableCell__songInfo__input {
  padding: 10px;
  width: 400px;
}

.tableCell__input {
  padding: 10px;
  width: 100px;
}

#mainTable {
  display: table;
  margin-top: 20px;
  margin-left: 20px;
  width: 1325px;
}

#mainTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#mainTable tr:hover {
  background-color: #ddd;
}

.editInput {
  padding: 10px;
}

.country__input__edit {
  width: 220px;
  height: 36px;
}
